<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Abouts</title>
</head>
<body>
    <!-- Table to list abouts -->
    <h4>List of all abouts</h4>

    <h3 style="text-align: center;">
        <a href="{% url 'my_app:create_about' %}">
            Create About
        </a>
    </h3>

    <h3 style="text-align: right;">
        <a href="{% url 'accounts:register' %}">
            Register | 
        </a>

        <a href="">
            Logout
        </a>
    </h3>
    <table>
        <thead>
            <th>
                <td>Name</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Actions</td>
            </th>
        </thead>
        <tbody>
            {% for about in abouts %}
            <tr>
                <td>{{ about.name }}</td>
                <td>{{ about.phone }}</td>
                <td>{{ about.email }}</td>
                <td>
                    <a href="{% url 'my_app:about_details' about.id %}" class="btn">View</a>
                    <a href="{% url 'my_app:update_about' about.id %}" class="btn">Update</a>
                    <a href="{% url 'my_app:delete_about' about.id %}" class="btn">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <!-- End of table -->
</body>
</html>